#camera
{
   width: 360px;
   height: 250px;
   border:1px solid grey;
}

#textbox
{
   width: 300px;
}

img :hover
{
   border-radius: 140px;
   box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}

h4
{
   text-align: center;
   
}